/*********************
    General Styles
*********************/


*,
*::before,
*::after {
    box-sizing: inherit;
}

html, body, div, h1, h2, h3, p, a, img,
i, ol, ul, li, label, table, caption,
footer, header, nav, section {
    margin: 0; padding: 0;
}



html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: #fff;
    height: 100vh;
}

img {
    display: block;
    height: 2rem;
    width: 2rem;
}

div {
    padding: 1rem;
}

h1, h2, h3 {
    font-size: 1.8rem;
    
}
h1 {
    color: rgb(112, 112, 128);
}
h2 {
    color: rgb(75, 75, 88)
}

ol {
    padding-left: 1rem;
    list-style: none;
    
}

li {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}
a:hover {
    color: rgb(126, 126, 170);
}