

/*********************
    General Styles
*********************/


*,
*::before,
*::after {
    box-sizing: inherit;
}

html, body, div, h1, h2, h3, p, a, img,
i, ol, ul, li, label, table, caption,
footer, header, nav, section {
    margin: 0; padding: 0;
}



html {
    box-sizing: border-box;
    font-size: 20px;
}

body {
    background-color: black;
    height: 100vh;
}

img {
    align-self: center;
    height: min(400px,auto);
    max-height: 90vh;
    max-width: 90vw;
    border: black;
    border-style: solid;
    border-width: 3px;
}


/*****************
    Typography  
*****************/

a, h1, h2, p, li {
    color: #fff;
}

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 2.5rem;
}

h1 {
    font-weight: 400;
    font-size: 1.2rem;
}

p {
    font-weight: 500;
}


/*****************
    the stuff  
*****************/

div {
    margin-right: 50vw;
    margin-top: 2rem;
}

h1 {
    text-align: center;
}

ol, ul {
    margin-top: 5vh;
}


li {
    text-align: center;
    align-content: center;
    padding-bottom: 2rem;
}

a:hover {
    font-weight: 700;
}

#red {
    color: red;
}
#green {
    color: rgb(0, 189, 0);
}
#yellow {
    color: rgb(255, 231, 16);
}
#blue {
    color: rgb(70, 116, 253);
}
#pink {
    color: rgb(252, 85, 140);
}
#purple {
    color: rebeccapurple;
}

/********************
    Media Queries
********************/

@media only screen and (min-width: 1000px) {

img {
    height: auto;
    max-width: 90vw;
}

}